
h1, h2, h3, h4, h5, h6 {
    font-family: "Open sans",Helvetica,Arial;
}
a {
    color: #ff4242;
    text-decoration: none;
    transition: color 500ms ease 0s, background-color 500ms ease 0s;
}
p {
    color: #414141;
    font-size: 15px;
    line-height: 24px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}
blockquote {
    color: #999;
    font-family: Georgia;
    font-style: italic;
    margin: 30px 0;
}
label {
    color: #4c4b4b;
	font-weight:normal!important;
	font-size:14px!important;
	line-height: 24px;
}
.herotxt {
    background: #205f9f none repeat scroll 0 0;
}
.herotxt p {
    color: #fff;
    font-size: 20px;
}
.herotxt span {
    color: #fff;
    display: block;
    font-size: 28px;
    font-weight: normal;
    line-height: 45px;
    margin-bottom: 12px;
}
.herotxt p {
    margin-bottom: 0;
}
.herotxt .btn-download a {
    background: #fff317 none repeat scroll 0 0;
    color: #222;
    display: inline-block;
    font-size: 18px;
    margin-top: 37px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
}
.herotxt .btn-download {
    text-align: center;
}
.highlight {
    border-left: 1px solid rgba(255, 255, 255, 0.13);
    margin-top: 40px;
}
.highlight:first-child {
    border: medium none;
}
element.style {
}
.headroom {
    transition: all 0.4s ease-out 0s;
}
.navbar-nav .dropdown-menu {
    background-color: #ff4242;
    font-size: 13px;
    left: -5px;
}
.navbar-nav .dropdown-menu > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
    color: rgba(255, 255, 255, 1);
}
.navbar-inverse {
    background: transparent none repeat scroll 0 0;
}
.navbar-nav > li {
    margin-right: 10px;
}
.navbar-nav > li > a {
    font-size: 16px;
}
.navbar-inverse {
    border: medium none !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-nav > li:hover {
    background: #205f9f none repeat scroll 0 0;
    color: #eee !important;
}
.navbar-fixed-top, .navbar-fixed-bottom {
}
.navbar-fixed-top {
    position: absolute;
}
.btn:hover {
    background: #b8c159 none repeat scroll 0 0;
    color: #fff !important;
}
.btn {
    /* background: #85e556 none repeat scroll 0 0; */
    color: #3a3a3a !important;
    font-size: 18px;
}
.btn-action, .btn-primary {
    background: #5192d4 none repeat scroll 0 0;
    color: #fff !important;
}
#head {
    background: #181015 url("../images/bg_header.jpg") no-repeat scroll 0 0 / cover ;
    color: white;
    font-family: "Open sans",Helvetica,Arial;
    font-weight: 300;
    min-height: 520px;
    padding-top: 240px;
    text-align: center;
}
#head.secondary {
    height: 100px;
    min-height: 100px;
    padding-top: 0;
}
#head .lead {
    color: white;
    font-family: "Open sans",Helvetica,Arial;
    font-size: 44px;
    line-height: 1.15em;
    margin-bottom: 6px;
}
#head .tagline {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 25px;
}
#head .tagline a {
    color: #fff;
}
#head .btn {
    margin-bottom: 10px;
}
#head .btn-default {
    background: transparent none repeat scroll 0 0;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) inset;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
}
#head .btn-default:hover, #head .btn-default:focus {
    background: transparent none repeat scroll 0 0;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8) inset;
    color: rgba(255, 255, 255, 0.8);
}
#head .btn-default:active, #head .btn-default.active {
    background: transparent none repeat scroll 0 0;
    box-shadow: 0 0 0 3px #fff inset;
    color: #fff;
}
.panel {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}
.panel-body {
    padding: 0;
}
.sectionBox {
    padding-bottom: 40px;
    padding-top: 35px;
}
.slideUp {
    top: -100px;
}
.headroom {
    transition: all 0.4s ease-out 0s;
}
.serviceslist .btn {
    border: 0 none;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px 38px;
    width: 100%;
}
.highlight {
    margin-top: 40px;
}
.h-caption {
    text-align: center;
}
.h-caption i {
    color: #fff;
    display: block;
    float: left;
    font-size: 46px;
    margin-right: 9px;
}
.thumbnail {
    border-radius: 0;
    display: block;
    padding: 0;
}
.h-caption h4 {
    color: #000;
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 15px;
    text-align: left;
}
.h-caption .fa {
    color: #ff4242;
    font-size: 32px;
}
.caption h4 {
    color: #000;
    font-size: 22px;
    font-weight: normal;
    text-align: left;
}
.jumbotron p {
    color: #555;
    font-size: 16px;
    padding: 0;
}
.jumbotron .fa {
    color: #ff4242;
}
.h-body {
}
.jumbotron {
    background: #fff none repeat scroll 0 0;
}
.page-title {
    color: #ff4242;
    font-weight: 300;
    margin-top: 20px;
}
.text-muted {
    color: #888;
}
.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 30px 0 0;
    padding: 0;
}
ul.list-spaces li {
    margin-bottom: 10px;
}
.bgColor1 {
    background-color: #323a47;
    color: #fff;
}
.bgColor1 .fa {
    color: #fff;
}
.container-full {
    margin: 0 auto;
    width: 100%;
}
.top-space {
    margin-top: 35px;
}
.top-margin {
    margin-top: 20px;
}
img {
    max-width: 100%;
}
img.pull-right {
    margin-left: 10px;
}
img.pull-left {
    margin-right: 10px;
}
#map {
    height: 280px;
    width: 100%;
}
#social {
    margin-bottom: 50px;
    margin-top: 50px;
}
#social .wrapper {
    margin: 0 auto;
    width: 340px;
}
.sidebar {
    padding-bottom: 30px;
    padding-top: 36px;
}
.sidebar .panel {
    margin-bottom: 20px;
}
.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 {
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 0 0 15px;
}
.glyphicon-lg {
    font-size: 3em;
}
.blockquote-box {
    margin-bottom: 25px;
}
.blockquote-box .square {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    margin-right: 22px;
    min-height: 50px;
    padding: 20px 0;
    text-align: center !important;
    width: 92px;
}
.blockquote-box.blockquote-primary {
    border-color: #357ebd;
}
.blockquote-box.blockquote-primary .square {
    color: #ff4242;
}
.blockquote-box.blockquote-success {
    border-color: #4cae4c;
}
.blockquote-box.blockquote-success .square {
    color: #ff4242;
}
.blockquote-box.blockquote-info {
    border-color: #46b8da;
}
.blockquote-box.blockquote-info .square {
    color: #ff4242;
}
.blockquote-box.blockquote-warning {
    border-color: #eea236;
}
.blockquote-box.blockquote-warning .square {
    color: #ff4242;
}
.blockquote-box.blockquote-danger {
    border-color: #d43f3a;
}
.blockquote-box.blockquote-danger .square {
    color: #ff4242;
}
.footer1 {
    background: #737373 none repeat scroll 0 0;
    color: #999;
    font-size: 12px;
    padding: 30px 0 0;
}
.footer1 a {
    color: #ccc;
}
.footer1 a:hover {
    color: #fff;
}
.footer1 .panel {
    margin-bottom: 30px;
}
.footer1 .panel-title {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 20px;
}
.footer1 .entry-meta {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #888888;
    font-size: 0.75rem;
    margin: 0 0 35px;
    padding: 2px 0;
}
.footer1 .entry-meta a {
    color: #333333;
}
.footer1 .entry-meta .meta-in {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}
.follow-me-icons {
    font-size: 30px;
}
.follow-me-icons i {
    float: left;
    font-size: 25px;
    margin: 0 10px 0 0;
}
.footer2 {
    background: #000 none repeat scroll 0 0;
    color: #777;
    font-size: 13px;
    padding: 15px 0;
}
.footer2 a {
    color: #aaa;
    font-size: 13px;
    padding: 0 10px;
}
.footer1 p {
    color: #ececec;
    font-size: 14px;
}
.footer2 a:hover {
    color: #fff;
}
.footer2 p {
    color: #666;
    font-size: 13px;
    margin: 0;
}
.panel-simplenav {
    margin-left: -5px;
}
.panel-simplenav a {
    margin: 0 5px;
}
#quote-carousel {
    padding: 0 10px 30px;
}.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
#quote-carousel .carousel-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #222;
    font-size: 2.3em;
    margin-top: 30px;
    text-shadow: none;
}
#quote-carousel .carousel-control.left {
    left: -12px;
}
#quote-carousel .carousel-control.right {
    right: -12px !important;
}
#quote-carousel .carousel-indicators {
    bottom: 0;
    margin-right: -19px;
    right: 50%;
    top: auto;
}
#quote-carousel .carousel-indicators li {
    background: #c0c0c0 none repeat scroll 0 0;
}
.item p {
    font-size: 16px;
}
#quote-carousel .carousel-indicators .active {
    background: #333333 none repeat scroll 0 0;
}
#quote-carousel img {
    height: 100px;
    width: 250px;
}
.item blockquote {
    border-left: medium none;
    margin: 0;
}
.item blockquote img {
    margin-bottom: 10px;
}
.item blockquote p::before {
    content: "ï„�";
    float: left;
    font-family: "Fontawesome";
    margin-right: 10px;
}
.modal-body{
	overflow-x: hidden!important;
	height:500px!important;
	}
.contact ul {
    padding: 0;
}
.contact ul li {
    color: #ececec;
    list-style: outside none none;
    margin-bottom: 10px;
}
footer ul li {
    list-style: outside none none;
}
#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}
.isotopeWrapper article {
    margin-bottom: 30px;
}
#portfolio {
}
#portfolio img {
    width: 100%;
}
#portfolio article p {
    margin-bottom: 1.45em;
}
nav#filter {
    margin-bottom: 1.5em;
}
nav#filter li {
    display: inline-block;
    margin: 0 0 0 5px;
}
nav#filter a {
    color: #ababab;
    font-size: 18px;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}
nav#filter a.current {
    background: #fff none repeat scroll 0 0;
    color: #ff3f3f;
}
.iconColor .fa {
    color: #ee0c45;
}
.portfolio-items article img {
    width: 100%;
}
.portfolio-item {
    display: block;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
}
.portfolio-item img {
    transition: all 300ms linear 0s;
}
.portfolio-item .portfolio-desc {
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.fancybox-overlay {
    background: rgba(0, 0, 0, 0.64) none repeat scroll 0 0;
}
.portfolio-item:hover .portfolio-desc {
    background: rgba(61, 61, 61, 0.72) none repeat scroll 0 0;
    height: 100%;
    opacity: 1;
    padding-top: 20%;
    transition: all 200ms ease-in-out 0s;
}
.isotope-item {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 25px;
}
.portfolio-item .portfolio-desc a {
    color: #fff;
    display: block;
    text-align: center;
}
.portfolio-item .portfolio-desc a:hover {
    text-decoration: none;
}
.portfolio-item .portfolio-desc .folio-info {
    height: 0;
    opacity: 0;
    padding: 30px;
    position: relative;
    top: -20px;
}
.portfolio-item:hover .folio-info {
    height: 100%;
    opacity: 1;
    top: 5px;
    transition: all 500ms ease-in-out 0s;
}
.portfolio-item .portfolio-desc .folio-info h5 {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.portfolio-item .portfolio-desc .folio-info p {
    color: #ffffff;
    font-size: 12px;
}
.contact-details {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    padding: 20px;
    position: relative;
}
.main-login {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    /* overflow: hidden; */
}
.main-center {
    margin: 0 auto;
    max-width: 830px;
    padding: 40px;
}
.login-button {
    margin-top: 5px;
}
.login-register {
    font-size: 11px;
    text-align: center;
}
.navbar-findcond {
    background: #b8c159 none repeat scroll 0 0;
    color: #fff !important;
    margin-bottom: 0 !important;
}
.navbar-findcond li a {
    color: #fff !important;
}
.navbar-findcond li a:hover {
    background: #5192d4 none repeat scroll 0 0 !important;
}
.navbar-findcond .badge{
	background-color: #FFF;
	color: #205f9f;
	}
.iframe-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
    padding-top: 30px;
}
.modal-header {
    padding-bottom: 5px;
}
.modal-footer {
    padding: 0;
}
.modal-footer .btn-group button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ddd -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: medium 1px medium medium;
    height: 40px;
}
.modal-footer .btn-group:last-child > button {
    border-right: 0 none;
}
@media (max-width: 767px) {
#head {
    min-height: 420px;
    padding-top: 160px;
}
#head .lead {
    font-size: 34px;
}
.navbar-collapse {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}
}
@media (min-width: 768px) {
#quote-carousel {
    margin-bottom: 0;
    margin-top: 30px;
    padding: 0 40px 30px;
}
}
@media (max-width: 767px) {
.navbar-collapse ul {
    margin-right: 0;
    text-align: right;
}
}
@media (max-width: 768px) {
#quote-carousel .carousel-indicators {
    bottom: -20px !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    overflow: hidden;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
#quote-carousel .carousel-indicators li {
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    width: 15px;
}
#quote-carousel .carousel-indicators li.active {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}
}
.form-signin {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
    margin: 0 0 0 auto;
    padding: 15px;
    width: 100%;
}
.form-signin-heading, .checkbox {
    margin-bottom: 15px;
}
.checkbox {
    font-weight: normal;
}
.form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
input[type="text"] {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 10px;
}
input[type="password"] {
    background: #fff none repeat scroll 0 0;
    margin-bottom: 20px;
}
.linto ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.linto ul li {
    display: block;
    float: left;
    list-style: outside none none;
    margin-bottom: 8px;
    padding: 0 10px;
    position: relative;
    width: 100%;
}
.linto ul li a {
    background: #ccc none repeat scroll 0 0;
    color: #5192d4;
    display: block;
    float: left;
    font-size: 20px;
    padding: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.linto ul li a:hover {
    background: #b8c159 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-family: "Open sans",helvetica,arial;
    font-size: 24px;
    margin: -14px 0 0 !important;
    padding: 0 0 0 15px;
}
.linto-left-nav {
    background: #eee none repeat scroll 0 0 !important;
    float: left;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
}
.linto-left-nav h3 {
    color: #414141;
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
    width: 100%;
}
.linto-left-nav ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.linto-left-nav ul li {
    display: block;
    float: left;
    list-style: outside none none;
    margin-bottom: 2px;
    padding: 0 10px;
    position: relative;
    width: 100%;
}
.linto-left-nav ul li a {
    background: #fff none repeat scroll 0 0;
    color: #5192d4;
    display: block;
    float: left;
    font-size: 16px;
    padding: 8px 25px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.linto-left-nav ul li a:hover {
    background: #205f9f none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.gree {
    background: #b8c159 none repeat scroll 0 0 !important;
}
.form-control {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    color: #4c4b4b;
    font-size: 14px;
    height: 35px;
    padding: 5px 12px;
}
select.input-sm {
    height: 42px !important;
    line-height: 30px;
    padding: 5px 6px;
}
.manage-sec {
    float: right;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.manage-sec a {
    float: right;
    margin: 2px 5px;
    text-decoration: none;
}
.manage-sec a img {
    opacity: 0.3;
}
.manage-sec a img:hover {
    opacity: 1;
}
.page-header {
    border-bottom: 1px solid #eee;
    margin: 40px 0 20px;
    /* overflow: hidden !important; */
    padding-bottom: 9px;
    min-height: 60px;
}
[role="form"] {
    background-color: #fff;
    border-radius: 0.3em;
    margin: 0 auto;
    max-width: 650px;/*max-width: 530px;*/
    padding: 20px;/*padding: 15px;*/
}
[role="form"] h2 {
    margin-bottom: 1em;
    margin-left: 5em;
}
.mar-right {
    margin-right: 5px;
}
.inner-main {
    background: #eee none repeat scroll 0 0;
    overflow: hidden;
    padding: 25px;
    width: 100%;
	margin-top:20px;
	
}
.mainNav {
    background: #eee none repeat scroll 0 0;
    width: 100%;
}
.mainNav ul {
    border-bottom: 1px solid #444;
    list-style: outside none none;
    margin: 0;
    padding: 15px;
}
.mainNav ul li {
}
.mainNav ul li a {
    background: #fff none repeat scroll 0 0;
    color: #205f9f;
    display: block;
    font-size: 1.1em;
    line-height: normal;
    margin: 2px 0;
    padding: 12px 20px;
    text-decoration: none;
}
.mainNav ul li a:hover {
    background: #205f9f none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.mainNav ul ul {
    border-bottom: medium none;
    padding: 0;
}
.mainNav ul ul li {
    background: #fefefe none repeat scroll 0 0;
    margin: 2px 0;
}
.mainNav ul ul li a {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #205f9f;
    display: block;
    font-size: 1em;
    line-height: normal;
    padding: 0.5em 1em 0.5em 2.5em;
}
.mainNav ul ul li a:hover {
    background: #205f9f none repeat scroll 0 0;
}
.mainNav ul ul ul {
    margin: 2px 0;
}
.mainNav ul ul ul li {
    border: medium none;
}
.mainNav ul ul ul li a {
    padding-bottom: 0.25em;
    padding-left: 3.5em;
    padding-top: 0.25em;
}
ul li.has-subnav .accordion-btn {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    color: #205f9f;
    font-size: 16px;
}
@media screen and (max-width: 1024px) {
.mainNav {
    width: 100%;
}
}
@media screen and (max-width: 700px) {
.mainNav {
    width: 100%;
}
}

.err-msg{
	color: #BB1818 !important;
	padding-bottom: 12px;
}
.success-msg{
	color: #65EF64 !important;
	padding-bottom: 12px;
}
.hided-div{
	display: none !important;
}
.selectedcol {
	background-color:#b8c159 !important;
	color:white;
	font-weight:bold;
}
.mouseovercol {
	background-color:#b8c159 !important;
	color:#FFF !important;
	font-weight:bold;
}
span .man-field {
	color: #f40a0a;
}




.mar-bot{
	margin-bottom:25px!important;}
.no-pad{
    padding: 0px !important;
}
.pad10{
    padding: 10px !important;
}
.pad10-left{
    padding-left: 10px !important;
}
.pad20-left{
    padding-left: 20px !important;
}
.pad10-right{
    padding-right: 10px !important;
}
.pad10-top{
    padding-top: 10px !important;
}
.pad5-left{
    padding-left: 5px !important;
}
.border{
    border:1px #eee solid;
}
.marg10{
    margin: 10px !important;
}
.marg10-left{
    margin-left: 10px !important;
}
.marg10-right{
    margin-right: 10px !important;
}
.marg10-bottom{
    margin-bottom: 10px !important;
}
.marg10-top{
    margin-top: 10px !important;
}
.border-left{
    border-left:1px #c3c1c1 solid;
}
.border-bottom{
    border-bottom:1px #c3c1c1 solid;
}
.border-right{
    border-right:1px #c3c1c1 solid;
}
.f-l{
    float: left !important;
}
.f-r{
    float: right !important;
}

 /* V2 */
.agf1 .form-group{
    width: 100% !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
}
.agf1 .form-group label{
    width: 49% !important;
    float: left;
}
.agf1 .form-group label:after{
    content: " :";
}
.agf1 .form-group p{
    width: 49% !important;
    float: left;
}

.agf1 .form-group .form-control{
    width: 49% !important;
}
.agf1 .form-group .input-group .form-control{
    width: 100% !important;
}
.agf1 .form-group .control{
    width: 49% !important;
    float: left;
}
.agf1 .agform-radio{
    width: 100% !important;
}
.agf1 .agform-radio label{
    width: 25% !important;
    margin: 0px !important;
 }
 body.agf1{
    background: #EEEEEE !important;
}
.agf1 .btn{
    font-size: 14px;
    /* padding: 10px 15px; */
	padding: 7px 15px 6px 15px;
 }
.agf1 .inner-main{
    background: #fff !important;
    margin-top: 0px !important; 
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); 
 }
 .agf1 h4{
    margin: 0px !important;
 }
 .agf1 .mainNav ul{
    border: 0px !important;
 }
 .agf1 .mainNav ul li a{
    background: none !important;
    border-bottom: 1px #1686D0 solid !important
 }
 .agf1 .mainNav ul li a:hover{
    color: #B8C159 !important;
}
 .form-control{
    background: #fff !important;
 }
 .btn-xs {
    border-radius: 3px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    padding: 1px 5px !important;
}
.btn-sm {
    border-radius: 3px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    padding: 5px 8px !important;
}
.c-tabs-nav__link{
    padding: 5px 0px !important;
}.c-tab{
    background-color: #EEEEEE !important;
}
/* .ag-tab-title{
    background: #fff none repeat scroll 0 0 !important;
    font-size: 16px !important;
    margin: 0px -15px 0 !important;
    padding: 10px !important;
    width: 104% !important;
    border-bottom: 1px solid #d1d1d1;
    color: #205F9F !important;
} */
.ag-tab-title {
	background: #fff none repeat scroll 0 0 !important;
	font-size: 16px !important;
	margin: 0px -13px 0px!important;
	padding: 10px 10px !important;
	width: 103% !important;
	border-bottom: 1px solid #d1d1d1;
	color: #205F9F !important;
}
.t-r{
    text-align: right !important;
}
.t-c{
    text-align: center !important;
}
.agf1 .fa-info-circle{
    color: #205F9F !important;
    font-size: 20px !important;
}

ul.nav.navbar-nav.pull-right h4 {
    color: #fff;
}

.worksheet-no-marg{ padding:15px 4px !important; margin:0px !important; cursor: pointer;}/*padding:10px 5px*/

.selectedcol a, mouseovercol a:hover,  mouseovercol a, mouseovercol{
color:#fff !important;
}

#addQuoteDiv.col-md-9{
	position: initial !important;
}

#addQuoteDiv.col-md-9 .col-xs-12{
	position: initial !important;
}

#addQuoteDiv .col-sm-12{
	position: initial !important;
}

#addQuoteDiv .col-sm-12 .col-sm-6{
	position: initial !important;
}

/* centered columns styles */
.row-centered {
   text-align:center;
}
 
.col-centered {
   display:inline-block;
   float:none;
   /* reset the text-align */
   text-align:left;
   /* inline-block space fix */
   margin-right:-4px;
}

@media (max-width: 991px) {
	.border-left {
	    border-left:none;
	}
}

input[type=radio]{
    margin: 5px 0 0;
}

input[type=checkbox] {
    margin: 6px 0 0 ;
}

.alert{
	padding: 5px !important;
	margin-bottom: 5px !important;
}

.home_width { 
	width:1170px;
}